<MudContainer MaxWidth="MaxWidth.Large" Class=" pt-5">

    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
        <MudPaper Width="20%" Height="15vh">
            <MudStack Style="height: 100%" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudText Typo="Typo.h5" Color="Color.Primary">@user.Accounts.Count()</MudText>
                <MudIcon Size="Size.Large" Title="Utilizadores" Color="Color.Primary" Icon="@Icons.Material.Filled.Groups2"></MudIcon>
            </MudStack>
        </MudPaper>
        <MudPaper Width="20%" Height="15vh">
            <MudStack Style="height: 100%" Justify="Justify.Center" AlignItems="AlignItems.Center">
                <MudText Typo="Typo.h5" Color="Color.Primary">@PointList.Count()</MudText>
                <MudIcon Size="Size.Large" Title="Partidas de KWIZ" Color="Color.Primary" Icon="@Icons.Material.Filled.Gamepad"></MudIcon>
            </MudStack>
        </MudPaper>
    </MudStack>

    <MudStack Row="true" Class="pt-8">
        <MudStack Style="width: 50%">
            <MudDataGrid Items="@user.Kwizzes" Hover="true">
                <ToolBarContent>
                    <MudText Color="Color.Primary" Typo="Typo.h6">Kwizzes Recentes</MudText>
                </ToolBarContent>
                <Columns>
                    <PropertyColumn Property="k => k.OwnerName" Title="Criado Por"></PropertyColumn>
                    <PropertyColumn Property="k => k.QuizName" Title="Titulo"></PropertyColumn>
                    <PropertyColumn Property="k => k.TopicName" Title="Topico"></PropertyColumn>
                </Columns>
            </MudDataGrid>
        </MudStack>
       <!-- <MudStack Style="width: 50%">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.h6" Color="Color.Primary">Acessos Mensais (Ultimos 4 meses)</MudText>
                <div>
                    <MudChart ChartType="ChartType.Donut" Width="250px" Height="250px" @bind-SelectedIndex="Index" InputData="@data" InputLabels="@labels"></MudChart>
                </div>
            </MudPaper>
        </MudStack> -->
    </MudStack>

</MudContainer>


@code {
    [Parameter] public CurrentUser user { get; set; } = new CurrentUser();
    public string UserName => user.MyAccount?.User ?? "";

    public IEnumerable<PointDto> PointList { get; set; } = Enumerable.Empty<PointDto>();
    
    protected override async Task OnInitializedAsync()
    {
        var result = await Points.GetAll();
        if (result is not null)
        {
            PointList = result.Data!;
        }
    }

    int dataSize = 4;
    private int Index = -1;
    public double[] data = { 50, 25, 20, 5 };

    public string[] labels =
    {
        "Janeiro", "Fevereiro", "Marco", "Abril", "Oil", "Coal", "Gas", "Biomass",
        "Hydro", "Geothermal", "Nuclear Fusion", "Pumped Storage", "Solar", "Wind", "Oil",
        "Coal", "Gas", "Biomass", "Hydro", "Geothermal"
    };

}